<div class="filter-features">
  <div id="filters">
    <a href="/listings?_filter=" role="button" class="all_listings filter">
      <div class="icon"><i class="fa-solid fa-list"></i></div>
      <p>All Listings</p>
    </a>
    <a href="/listings?_filter=" role="button" class="trending filter">
      <div class="icon"><i class="fa-solid fa-fire"></i></div>
      <p>Trending</p>
    </a>
    <a href="/listings?_filter=" role="button" class="rooms filter">
      <div class="icon"><i class="fa-solid fa-bed"></i></div>
      <p>Rooms</p>
    </a>
    <a href="/listings?_filter=" role="button" class="beachfront filter">
      <div class="icon"><i class="fa-solid fa-umbrella-beach"></i></div>
      <p>Beachfront</p>
    </a>
    <a href="/listings?_filter=" role="button" class="amazing_pool filter">
      <div class="icon"><i class="fa-solid fa-person-swimming"></i></div>
      <p>Amazing Pool</p>
    </a>
    <a href="/listings?_filter=" role="button" class="domes filter">
      <div class="icon"><i class="fa-solid fa-igloo"></i></div>
      <p>Domes</p>
    </a>
    <a href="/listings?_filter=" role="button" class="iconic_city filter">
      <div class="icon"><i class="fa-solid fa-mountain-city"></i></div>
      <p>Iconic City</p>
    </a>
    <a href="/listings?_filter=" role="button" class="castles filter">
      <div class="icon"><i class="fa-brands fa-fort-awesome"></i></div>
      <p>Castles</p>
    </a>
    <a href="/listings?_filter=" role="button" class="camping filter">
      <div class="icon"><i class="fa-solid fa-tents"></i></div>
      <p>Camping</p>
    </a>
    <a href="/listings?_filter=" role="button" class="farms filter">
      <div class="icon"><i class="fa-solid fa-cow"></i></div>
      <p>Farms</p>
    </a>
    <a href="/listings?_filter=" role="button" class="mountain filter">
      <div class="icon"><i class="fa-solid fa-mountain"></i></div>
      <p>Mountain</p>
    </a>
    <a href="/listings?_filter=" role="button" class="lakefront filter">
      <div class="icon"><i class="fa-solid fa-water"></i></div>
      <p>Lakefront</p>
    </a>
    <a href="/listings?_filter=" role="button" class="arctic filter">
      <div class="icon"><i class="fa-solid fa-snowflake"></i></div>
      <p>Arctic</p>
    </a>
    <a href="/listings?_filter=" role="button" class="amazing_views filter">
      <div class="icon"><i class="fa-solid fa-mountain-sun"></i></div>
      <p>Amazing Views</p>
    </a>
    <a href="/listings?_filter=" role="button" class="boats filter">
      <div class="icon"><i class="fa-solid fa-sailboat"></i></div>
      <p>Boats</p>
    </a>
    <a href="/listings?_filter=" role="button" class="park filter">
      <div class="icon"><i class="fa-solid fa-tree"></i></div>
      <p>Park</p>
    </a>
    <a href="/listings?_filter=" role="button" class="play filter">
      <div class="icon"><i class="fa-solid fa-baseball-bat-ball"></i></div>
      <p>Play</p>
    </a>
    <a href="/listings?_filter=" role="button" class="bed_n_breakfast filter">
      <div class="icon"><i class="fa-solid fa-mug-hot"></i></div>
      <p>Bed & Breakfast</p>
    </a>
  </div>
  <div class="taxes">
    <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Display total after taxes</label
        >
      </div>
    </div>
  </div>
</div>
